<div class="container sub">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 pull-right" style="z-index: 1020;">
            <div id="carousel-example-generic" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item">                       
                    </div>
                    <div class="item active">
                        <img src="http://lorempixel.com/650/300/business/8/" alt="item">
                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>

            </div>
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="well">
                <h2>The Rivyu Project</h2>
                <p>Grabbing the reviews you want</p>
            </div>
            <p>
                You can see reviews about almost anything anywhere you look.  The problem is that if you want to see the reviews from multiple sources then you have to actually go to those sources.
                <br />
                <br />
                Rivyu is not a fan of this. 
                <br>
                <br />
                Search for the reviews you want and get them all at one location!  Filter based on Name, Location, and the amount of stars you want to see!

    <p>
        Other review sites are really awesome!  Google, Yelp, Yellow Pages; all of them allow you to find out everything you to know about businesses and products.  Want to know what isn't awesome?  Having to go to three different sites to find different results
    </p>

<p>
    Services we use:

                <p>

    <ul>
        <li>Yelp!</li>
        <a href="http://www.yelp.com/">Link!</a>
        <li>Yellow Pages</li>
        <a href="http://www.yellowpages.com/">Link!</a>
    </ul>

    More being added!

                </p>
            </p>
        </div>
    </div>
</div>
