<div class="container">
    <div class="row">
		<div class="col-md-4">
			<!-- begin panel group -->
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<!-- panel 1 -->
				<div class="panel panel-default" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
					<div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						<h2 class="panel-title">A Rivyu Situation!</h2>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<!-- Tab content goes here -->
							Your partner's parents are coming to visit.  They are scheduled to arrive tonight!  They will surely be hungry and you want to make a good impression with her Father.  Dinner will be in order.  After asking the thousand questions you're going to have about what her parents like and dislike you decide to scour the Internet for restaurants.
						</div>
					</div>
				</div>
				<!-- / panel 1 -->
				<!-- panel 2 -->
				<div class="panel panel-default" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
					<div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<h3 class="panel-title collapsed">The Work!</h3>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<!-- Tab content goes here -->
							After thirty minutes you're only slightly closer to finding the perfect restaurant than you were before you started.  Each restaurant has their pros and cons and each one has many sites in which to find the reviews about them.  Some of them are really old while some of them seem to be fake and doctored.  After another five minutes you realize that you have to travel to many sites just to find different reviews about the same places. 
						</div>
					</div>
				</div>
				<!-- / panel 2 -->
				<!--  panel 3 -->
				<div class="panel panel-default" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
					<div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<div class="collapsed"><h3 class="panel-title">The Solution!</h3></div>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<!-- tab content goes here -->
							Whilst scouring for reviews you see Rivyu.com and click on it.  There, at your finger tips, lay the power to search for all the reviews a restaurant may have.  When you perform the search all the reviews from multiple sources flash in front of you.  You can redo your search with different filters from the name to the number of stars they have on their reviews.  It only takes you another five minutes to find the restaurant you want and the great impression you need.
						</div>
					</div>
				</div>
			</div>
			<!-- / panel-group -->
		</div>
		<!-- /col-md-4 -->
		<div class="col-md-8">
			<!-- begin macbook pro mockup -->
			<div class="md-macbook-pro md-glare">
				<div class="md-lid">
					<div class="md-camera"></div>
					<div class="md-screen">
						<!-- content goes here -->                
						<div class="tab-featured-image">
							<div class="tab-content">
								<div class="tab-pane  in active" id="tab1">
									<img src="http://pitstop.gozoomo.com/wp-content/uploads/2015/05/Red-Porsche-Car-in-the-Run-Driving-at-Incredible-Speed-is-Good-Looking-Overall-a-Fit-for-Various-Devices-HD-Cars-Wallpaper.jpg" alt="tab1" class="img img-responsive">
								</div>
								<div class="tab-pane " id="tab2">
									<img src="http://www.revista-api.com/wp-content/uploads/2015/01/image012.jpg">
								</div>
								<div class="tab-pane fade" id="tab3">
									<img src="http://www.glamour.com/images/sex-love-life/2012/12/parents-couple-w724.jpg" alt="tab1" class="img img-responsive">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="md-base"></div>
			</div>
			<!-- end macbook pro mockup -->
		</div>
		<!-- / .col-md-8 -->
	</div>
	<!--/ .row -->
</div>
<!-- end sidetab container -->